:root {
  --base-color: white;
  --base-variant: #e8e9ed;
  --text-color: #111528;
  --seconday-text: #232728;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}

[data-theme="dark"] {
  --base-color: #070b1d;
  --base-variant: #101425;
  --text-color: #ffffff;
  --seconday-text: #a4a5b8;
  --primary-color: #3a435d;
  --accent-color: #0071ff;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
}
